
#lights {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000; /* IMPORTANT */
}

#lights canvas {
  width: 100%;
  height: 100%;
  display: block;
}